body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}
.container {
  width: 60%;
  margin: auto;
}
input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 8px 12px;
  margin: 5px;
  cursor: pointer;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid cyan;
}

th,
td {
  padding: 20px;
}
